/*About*/
.about-container-container{
    border: solid black 2px;
    display: flex;
    justify-content: center;
    padding: 20px;

}


.about-container{
    border: 2px solid black;
    margin: 20px;
    background: linear-gradient(30deg, #3CB371, #07aeea);
    width: 80%;
    margin-top: 850px;
    
}

.about-title{
    text-align: center;
}

.about-paragraph-container{
    display: flex;
    justify-content: center;
    

}

.about-paragraph{
    width: 90%;
    font-size: 32px;
}
.adoption-details-container{
    display: flex;
    display: inline;
    text-align: center;
    font-size: 28px;
}

.adoption-details-title{
    text-align: center;
        font-size: 28px;

}

.adoption-numbers{
    font-size: 24px;
}

.adoption-available{
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.available-adoption{
    text-align: center;
    
}

.donate-here{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.donate-here-link{
   font-weight: bold;
   margin-left: 5px;
}

.light-cards-box{
        background: linear-gradient(315deg, #011128, #02022d 40%, #010117 70%);
}