/*About*/
.about-container-container{
    border: solid black 2px;
    display: flex;
    justify-content: center;
    padding: 20px;

}


.about-container{
    border: 2px solid black;
    margin: 20px;
    background-color: pink;
    width: 50%;
    
}

.about-title{
    text-align: center;
}

.about-paragraph-container{
    display: flex;
    justify-content: center;
    

}

.about-paragraph{
    width: 50%;
    font-size: 20px;
}
.adoption-details-container{
    display: flex;
    display: inline;
    text-align: center;
}

.adoption-details-title{
    text-align: center;
}

.adoption-numbers{
    font-size: 20px;
}

.adoption-available{
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.available-adoption{
    text-align: center;
    
}

.donate-here{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.donate-here-link{
   font-weight: bold;
   margin-left: 5px;
}