
/*body*/
body{
    width: 100%;
    margin: 10px;
    overflow-x: hidden;
}
.cards-box{
    background: linear-gradient(130deg, #3CB371, #07aeea);
    display: grid;
    
}


.cards-title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
    
    
}

.card-container{
    display: grid;
    grid-template-columns:300px 300px 300px;
    grid-template-rows: 430px 430px 430px;
   justify-content: center;
   justify-content: space-around;
  
  
}

.cards{
    background-color: #00CED1;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.card-img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid black;
}

.display-more-button{
    text-align: center;
}
.body-title{
    text-align: center;
    font-size: 30px;
}

.body-about{
    font-size: 22px;
    margin: 10px;
    margin-top: 100px;
}

.body-container{
        background: linear-gradient(30deg, #3CB371, #07aeea);
    margin-top: 1490px;
}