.navbar{
    background-color: pink;
    padding: 20px;
    width: auto;
}

.navbar-box{
    font-size: 20px;
    width: 100%;
}

.nav-links{
    list-style-type: none;
    display: flex;
    justify-content:flex-start ;
    justify-content: space-around;
}