

.navbar-box{
    font-size: 20px;
    width: auto;
    height: auto;
    background-color: pink;
    padding: 40px;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-links{
    font-weight: bold;
   
}